<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>All</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Top </string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/top_creators/en?page=%d</string>
	</dict>
	<dict>
		<key>title</key>
		<string>New</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new_creators/en?page=%d</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mix</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=1000014</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Characters</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Classic</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=11</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Disney</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Manga</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Anime</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=1000015</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Kids</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=1000016</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Cartoons</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=1000017</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Game</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=16</string>
	</dict>
	<dict>
		<key>title</key>
		<string>TV</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Romance</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=7</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Entertainment</string>
		<key>cat</key>
		<string>https://store.line.me/stickershop/showcase/new/en?page=%d&amp;category=8</string>
	</dict>
</array>
</plist>
